<!doctype html>
<head>
    <title>dmpete.rs</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tomorrow-night.css') }}">
    <script src="{{ url_for('static', filename='fragment.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='highlight.pack.js') }}" type="text/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
    <header>
        <h1>dmpete.rs</h1>
        <nav>
            <ul>
                <li><a href="/github">github</a></li>
                <li><a href="/linkedin">linkdin</a></li>
                <li><a href="/twitter">twitter</a></li>
                <!-- <li><a href="/task">task warrior</a></li> -->
                <li><a href="mailto:_@dmpete.rs">contact</a></li>
            </ul>
        </nav>
    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>&nbsp;</footer>
</body>